<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="seasar" type="Seasar.Framework.Xml.S2SectionHandler, Seasar" />
  </configSections>

  <seasar>
    <configPath>App.dicon</configPath>
    <assemblys>
      <assembly>Seasar.Dao</assembly>
      <assembly>MySql.Data, version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d</assembly>
    </assemblys>
  </seasar>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>